<div class="px-sm-5">
    <select name="" class="form-control" id="search-@(ViewData["searchType"] == null ? "all" : ViewData["searchType"])" style="width:100%">
        <option></option>
    </select>
</div>
