@{
    ViewBag.Title = "Permission";
    ViewBag.pTitle = "Permission";
    ViewBag.pageTitle = "Lab Permission";
    Layout = "~/Views/Shared/Layouts/_layout_horizontal.cshtml";
}

@section scripts{
    <script src="~/assets/js/app.js"></script>
}

<h2>please contact to admin! once they assign you the role of laboratory then you can access !</h2>